custom-field {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    & .field {
        &.inline {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            gap: 0.5rem;
        }
        & span.field-title {
            font-weight: var(--font-weight-bold);
            display: block;
            page-break-after: avoid;
            page-break-inside: avoid;
            margin-bottom: 0.1rem;
            &::after {
                content: "";
                display: block;
                height: 50px;
                margin-bottom: -50px;
            }
        }
        & span.field-value {
            white-space: pre-line;
            display: block;
            & a {
                color: var(--color-text-link);
            }
        }
        &:not(.inline) {
            & span.field-value {
                &.has-title {
                    page-break-before: avoid;
                }
            }
        }
    }
}
