custom-field {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    & .field {
        display: flex;
        align-items: baseline;
        &.inline {
            flex-direction: row;
            gap: 0.5rem;
        }
        &:not(.inline) {
            flex-direction: column;
            gap: 0;
        }
        & label {
            font-weight: bold;
            page-break-after: avoid;
            page-break-inside: avoid;
        }
        & span {
            white-space: pre-line;
        }
    }
}
