@font-face {
    font-family: "Roboto Flex";
    src: url(../fonts/RobotoFlex.woff2) format("woff2");
}

:root {
    --background-transition-default: background-color 150ms;
    --font-family-default: "Roboto Flex", Arial, sans-serif;
    --color-text-default: #1c1b1d;
}

& * {
    box-sizing: border-box;
}

.docs {
    box-sizing: border-box;
    background-color: #eee;
    font-family: var(--font-family-default);
    color: var(--color-text-default);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: normal;
    & aside.sidebar {
        width: 250px;
        background-color: #f7f7f7;
        border-right: 1px solid #ccc;
        height: 100vh;
        overflow-y: auto;
        & nav.component-type-list {
            & details {
                & summary {
                    font-weight: bold;
                    cursor: pointer;
                    padding: 4px 0 8px 16px;
                    &:hover {
                        background-color: #e0e0e0;
                    }
                }
                & ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    & li {
                        font-size: 14px;
                        padding: 0;
                        & a {
                            text-decoration: none;
                            color: var(--color-text-default);
                            padding: 4px 0 4px 32px;
                            display: block;

                            &:hover {
                                background-color: #e0e0e0;
                            }
                        }
                    }
                }
            }
        }
    }
    & .page-container {
        flex-grow: 1;
        padding: 16px;
        overflow-y: auto;
        height: 100vh;
        & .page {
            max-width: 1200px;
            margin: 0 auto;
            & .component-example-preview {
                padding: 16px;
                margin-bottom: 16px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
            & .component-example-code {
                background-color: #f5f5f5;
                border-radius: 4px;
                font-size: 14px;
                overflow-x: auto;
                margin-bottom: 8px;
                border: 1px solid #ddd;
                &:open {
                    & summary {
                        border-bottom: 1px solid #ddd;
                    }
                }
                & summary {
                    font-weight: bold;
                    padding: 16px;
                    cursor: pointer;
                    &.component-example-resources-title {
                        background-color: #e0f7fa;
                        &:hover {
                            background-color: #b2ebf2;
                        }
                    }
                    &.component-example-data-title {
                        background-color: #e8f5e9;
                        &:hover {
                            background-color: #c8e6c9;
                        }
                    }
                    &.component-example-markup-title {
                        background-color: #fce4ec;
                        &:hover {
                            background-color: #f8bbd0;
                        }
                    }
                }
                & pre {
                    margin: 0;
                    padding: 16px;
                    font-family: "Courier New", Courier, monospace;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    clip-path: inset(0);
                    overflow: auto;
                    hyphens: auto;
                    min-height: 100px;
                    max-height: 400px;
                    scrollbar-width: thin;
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: darken(#ddd, 5%);
                        border-radius: 4px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: #f5f5f5;
                    }
                    &::-webkit-scrollbar-corner {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-button {
                        display: none;
                    }
                    &::-webkit-scrollbar-resizer {
                        background: transparent;
                    }
                }
            }
        }
    }
}
