custom-table {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    table {
        border-spacing: 0;
        border: 1px solid #e8e0e8;
        border-radius: 8px;
        overflow: hidden;
        td,
        th {
            padding: 12px;
            border-bottom: 1px solid #dadce0;
        }
        th {
            text-align: left;
            font-weight: 500;
            background-color: #f8f1f6;
        }
    }
}
