custom-grouplist-sjekklistekrav {
    & .sjekklistekrav-list {
        border: 1px solid var(--color-default-dark);
        border-radius: 4px;
        overflow: hidden;
        margin: 0.75rem 0;
    }
}
