@font-face {
    font-family: "Roboto Flex";
    src: url(/src/fonts/RobotoFlex.woff2) format("woff2");
}

:root {
    --font-family-default: "Roboto Flex", Arial, sans-serif;
    --color-text-default: #1c1b1d;
    --background-muted: #f7f4f4;
    --font-size-default: 16px;
    --font-size-h1: 48px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-weight-default: 400;
    --line-height-default: 24px;
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: #fff;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    letter-spacing: normal;
}

@media print {
    html {
        font-size: inherit !important;
    }
}

@page {
    size: A4 portrait;
    margin-top: 1cm;
    margin-left: 1.25cm;
    margin-right: 1.25cm;
}
