@font-face {
    font-family: "Roboto Flex";
    src: url(/src/fonts/RobotoFlex.woff2) format("woff2");
}

:root {
    --font-family-default: "Roboto Flex", Arial, sans-serif;
    --color-text-default: #1c1b1d;
    --background-muted: #f7f4f4;
    --color-divider-default: #cdcaca;
    --font-size-default: 16px;
    --font-size-h1: 42px;
    --font-size-h2: 30px;
    --font-size-h3: 23px;
    --font-size-h4: 19px;
    --font-weight-default: 400;
    --line-height-default: 24px;
    --line-height-table-header: 20px;
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: #fff;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    letter-spacing: normal;
    /*
        This CSS rule sets the default color and font-family for all text elements outside a custom component.
    */
    & p,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        color: var(--color-text-default);
        &[class^="fds-"] {
            font-family: var(--font-family-default);
        }
    }
}

/*
 * 
 * This CSS rule overrides altinn-app-frontend font-size.
 * The value in altinn-app-frontend is set to 10px !important.
 */
@media print {
    html {
        font-size: inherit !important;
    }
}

/*
 *
 * This CSS rule defines the page size and margins for printing.
 * - The page size is set to A4 in portrait orientation.
 * - The top margin is set to 1cm.
 * - The left and right margins are set to 1.25cm.
 * - The bottom margin gets inhertied from altinn-app-frontend.
 */
@page {
    size: A4 portrait;
    margin-top: 1cm;
    margin-left: 1.25cm;
    margin-right: 1.25cm;
}

/*
 *
 * This CSS rule overrides altinn-app-frontend styles for logo size
 */

#pdfView {
    & > div:first-of-type {
        margin-bottom: -55px;
        & h1 {
            margin-top: -50px;
        }
        & img {
            width: 85px;
            height: auto;
        }
    }
}
