@font-face {
    font-family: "Roboto Flex";
    src: url(/src/fonts/RobotoFlex.woff2) format("woff2");
}

:root {
    --font-family-default: "Roboto Flex", Arial, sans-serif;
    --color-text-default: #1c1b1d;
    --background-muted: #f7f4f4;
    --color-divider-default: #cdcaca;
    --color-border-default: #e6e4e4;
    --color-error-muted: #ef535030;
    --color-error-light: #ef5350;
    --color-error-default: #d32f2f;
    --color-error-dark: #c62828;
    --color-warning-muted: #ff980030;
    --color-warning-light: #ff9800;
    --color-warning-default: #ed6c02;
    --color-warning-dark: #e65100;
    --color-success-muted: #4caf5030;
    --color-success-light: #4caf50;
    --color-success-default: #2e7d32;
    --color-success-dark: #1b5e20;
    --color-info-muted: #03a9f430;
    --color-info-light: #03a9f4;
    --color-info-default: #0288d1;
    --color-info-dark: #01579b;
    --color-default-muted: #fdfbfb;
    --color-default-light: #f9f7f7;
    --color-default-default: #f7f4f4;
    --color-default-dark: #e7e4e4;
    --font-size-default: 16px;
    --font-size-h1: 42px;
    --font-size-h2: 30px;
    --font-size-h3: 23px;
    --font-size-h4: 19px;
    --font-weight-default: 400;
    --line-height-default: 24px;
    --line-height-table-header: 20px;
    --background-transition-default: background-color 150ms;
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: #fff;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    letter-spacing: normal;
    /*
        This CSS rule sets the default color and font-family for all paragraph elements outside a custom component.
    */
    & p {
        font-family: var(--font-family-default);
        font-size: var(--font-size-default);
        color: var(--color-text-default);
        line-height: var(--line-height-default);
        &[class^="fds-"] {
            font-family: var(--font-family-default);
        }
    }
    /*
        This CSS rule sets the default color and font-family for all header elements outside a custom component.
    */
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        color: var(--color-text-default);
        page-break-after: avoid;
        display: inline-block;
        margin-block-start: 1em;
        margin-block-end: 0;
        line-height: 1.1em;
        &[class^="fds-"] {
            font-family: var(--font-family-default);
        }
    }
    & h2 {
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-default);
    }
    & h3 {
        font-size: var(--font-size-h3);
        font-weight: var(--font-weight-default);
    }
    & h4 {
        font-size: var(--font-size-h4);
        font-weight: var(--font-weight-default);
    }
    & div[data-componenttype="AttachmentList"] ul {
        margin-top: 0.3em;
        & li {
            margin-bottom: 0;
            & span,
            & a,
            & [class^="fds-"] {
                color: var(--color-text-default);
                font-family: var(--font-family-default);
                font-weight: var(--font-weight-default);
                line-height: var(--line-height-default);
                font-size: 1.1rem;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}

/*
 * 
 * This CSS rule overrides altinn-app-frontend font-size.
 * The value in altinn-app-frontend is set to 10px !important.
 */
@media print {
    html {
        font-size: inherit !important;
    }
}

/*
 *
 * This CSS rule defines the page size and margins for printing.
 * - The page size is set to A4 in portrait orientation.
 * - The top and bottom margin is set to 1cm.
 * - The left and right margins are set to 1.25cm.
 */
@page {
    size: A4 portrait;
    margin-top: 1cm;
    margin-bottom: 1.5cm;
    margin-left: 1.25cm;
    margin-right: 1.25cm;
}

/*
 *
 * This CSS rule overrides altinn-app-frontend styles for logo size
 */

#pdfView {
    /* For PDFs without logo */
    & > h1:first-of-type {
        min-height: 68px;
    }
    /* For PDFs with logo */
    & > div[data-testid="pdf-logo"] {
        min-height: 68px;
        margin-bottom: 0;
        display: block;
        & h1 {
            margin-top: 0;
        }
        & img {
            position: absolute;
            top: 0;
            right: 0;
            width: 85px;
            height: auto;
        }
        &::after {
            content: "";
            display: block;
        }
    }
}
