& * {
    box-sizing: border-box;
}

@media screen {
    body.developer-tools {
        box-sizing: border-box;
        background-color: #eee;
        font-family: Arial, sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        & aside.sidebar {
            flex-basis: 330px;
            min-width: 330px;
            height: 100vh;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            padding: 0;
            overflow-y: auto;
            background-color: #101214;
            color: #fff;
            z-index: 1;
            & h2 {
                margin-top: 0;
                font-size: 18px;
                color: #333;
                padding: 8px;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                & li {
                    font-size: 18px;
                    background: none;
                    border-bottom: 1px solid #202224;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    & .type-input {
                        display: none;
                    }
                    &.editable {
                        & .type-input {
                            display: inline-block;
                            width: 100%;
                            padding: 11px;
                            font-size: 16px;
                            border: none;
                            color: #fff;
                            background-color: rgba(255, 255, 255, 0.1);
                            outline: 1px solid rgba(255, 255, 255, 0.75);
                        }
                        & .buttons-container {
                            display: none;
                        }
                    }
                    & button {
                        color: #fff;
                        width: 100%;
                        border: none;
                        cursor: pointer;
                        background: none;
                        text-align: left;
                        padding: 12px 14px;
                        font-size: 14px;
                        display: inline-block;
                    }
                    & .buttons-container {
                        & button {
                            width: 180px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        & .option-buttons-container {
                            width: 150px;
                            display: inline-block;
                            & button {
                                width: auto;
                                background-color: #303234;
                                border-radius: 4px;
                                margin: 0 5px;
                                padding: 5px 10px;
                                &:hover {
                                    background-color: #393b3d;
                                }
                            }
                        }
                    }
                }
            }
            & .add-button {
                width: calc(100% - 24px);
                background-color: #303234;
                color: #fff;
                border: none;
                cursor: pointer;
                padding: 10px 0;
                margin: 12px;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                border-radius: 4px;
                &:hover {
                    background-color: #393b3d;
                }
            }
        }
        & section.data-input {
            padding: 0;
            margin: 0;
            flex-basis: 100%;
            height: 100vh;
            overflow: hidden;
            & button:not(.summary-button) {
                margin-top: 1em;
                width: 100%;
                padding: 12px;
                text-transform: uppercase;
                background-color: #4caf50;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 4px;
                &:hover {
                    background-color: #45a049;
                }
            }
        }
        & textarea {
            width: 100%;
            height: 100vh;
            resize: none;
            padding: 0.5em;
            overflow: scroll;
            white-space: nowrap;
            font-family: monospace;
            background-color: #1e1e1e;
            color: #dcdcdc;
            border: none;
            font-size: 12px;
            line-height: 1.5;
        }
        & .page-container {
            flex-basis: 830px;
            min-width: 830px;
            height: 100vh;
            overflow: scroll;
        }
        & .page {
            margin: 0.5cm auto;
            background: #fff;
            box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
            color: #000;
            width: 21cm;
            min-height: 29.7cm;
            padding-left: 1.25cm;
            padding-top: 1cm;
            padding-right: 1.25cm;
            padding-bottom: 1cm;
        }
    }
}

@media print {
    section.data-input {
        display: none;
    }
    html {
        font-size: inherit !important;
    }
}
