custom-list {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    color: var(--color-text-default);
    line-height: var(--line-height-default);
    & .field {
        display: flex;
        flex-direction: column;
    }
    ul {
        padding-inline-start: 1em;
    }
}
