@font-face {
    font-family: "Roboto Flex";
    src: url(/fonts/RobotoFlex.woff2) format("woff2");
}

:root {
    --background-transition-default: background-color 150ms;
    --font-family-default: "Roboto Flex", Arial, sans-serif;
    --color-text-default: #1c1b1d;
}

& * {
    box-sizing: border-box;
}

@media screen {
    body.developer-tools {
        box-sizing: border-box;
        background-color: #eee;
        font-family: var(--font-family-default);
        color: var(--color-text-default);
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        letter-spacing: normal;
        & aside.sidebar {
            flex-basis: 330px;
            min-width: 330px;
            height: 100vh;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            padding: 0;
            overflow-y: auto;
            background-color: #101214;
            color: #fff;
            z-index: 1;
            & h2 {
                margin-top: 0;
                font-size: 18px;
                color: #333;
                padding: 8px;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                & li {
                    font-size: 18px;
                    background: none;
                    border-bottom: 1px solid #202224;
                    transition: var(--background-transition-default);
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                    &.active {
                        background-color: rgba(40, 143, 255, 0.7);
                        &:hover {
                            background-color: rgba(61, 155, 255, 0.75);
                        }
                    }
                    & .type-input {
                        display: none;
                    }
                    &.editable {
                        & .type-input {
                            display: inline-block;
                            width: 100%;
                            padding: 11px;
                            font-size: 16px;
                            border: none;
                            color: #fff;
                            background-color: #202224;
                            outline: 1px solid rgba(255, 255, 255, 0.75);
                        }
                        & .buttons-container {
                            display: none;
                        }
                    }
                    & button {
                        color: #fff;
                        width: 100%;
                        border: none;
                        cursor: pointer;
                        background: none;
                        text-align: left;
                        padding: 12px 14px;
                        font-size: 14px;
                        display: inline-block;
                        transition: var(--background-transition-default);
                        font-family: var(--font-family-default);
                    }
                    & .buttons-container {
                        & button {
                            width: 194px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        & .option-buttons-container {
                            width: 131px;
                            display: inline-block;
                            text-align: right;
                            & button {
                                width: auto;
                                background-color: #303234;
                                border-radius: 4px;
                                margin: 0 3px;
                                padding: 5px 10px;
                                text-align: center;
                                &:hover {
                                    background-color: #393b3d;
                                }
                            }
                            & .status-indicators-container {
                                & .status-indicator {
                                    display: inline-block;
                                    margin: 0;
                                    min-width: 32px;
                                    text-align: center;
                                    &.missing {
                                        color: var(--color-error-default);
                                    }
                                    &.unused {
                                        color: var(--color-warning-default);
                                    }
                                    &.empty {
                                        color: var(--color-info-default);
                                    }
                                    &.success {
                                        color: var(--color-success-default);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .add-button {
                width: calc(100% - 16px);
                background-color: #303234;
                color: #fff;
                border: none;
                cursor: pointer;
                padding: 10px 0;
                margin: 12px 8px;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                border-radius: 4px;
                font-family: var(--font-family-default);
                transition: var(--background-transition-default);
                &:hover {
                    background-color: #393b3d;
                }
            }
        }
        & section.data-input {
            padding: 0;
            margin: 0;
            flex-basis: 100%;
            height: 100vh;
            overflow: hidden;
            & textarea {
                width: 100%;
                height: 100vh;
                resize: none;
                padding: 0.75em;
                overflow: auto;
                white-space: nowrap;
                font-family: monospace;
                background-color: #1e1e1e;
                color: #dcdcdc;
                border: none;
                font-size: 12px;
                line-height: 1.5;
                outline: none;
            }
        }
        & .page-container {
            flex-basis: 830px;
            min-width: 830px;
            height: 100vh;
            overflow: auto;
            &.admin {
                flex-basis: 100%;
            }
        }
        & .page {
            margin: 0.5cm auto;
            background: #fff;
            box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
            color: #000;
            width: 21cm;
            min-height: 29.7cm;
            padding-left: 1.25cm;
            padding-top: 1cm;
            padding-right: 1.25cm;
            padding-bottom: 1cm;
        }
        dialog.dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -36%);
            background-color: #fff;
            color: #000;
            border: 1px solid #ccc;
            box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
            width: 900px;
            max-width: 90%;
            z-index: 10;
            border-radius: 8px;
            padding: 0;
            &::backdrop {
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(5px);
            }
            & .dialog-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;
                border-bottom: 1px solid #ccc;
                background-color: #f5f5f5;
                & h2 {
                    margin: 0;
                    font-size: 18px;
                }
                & .close-dialog-button {
                    background: none;
                    border: none;
                    font-size: 24px;
                    line-height: 1;
                    cursor: pointer;
                    color: #000;
                    &:hover {
                        color: #ff0000;
                    }
                }
            }
            & .dialog-content {
                padding: 15px;
                max-height: 70vh;
                overflow-y: auto;
                & button {
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    display: inline-block;
                    padding: 10px 14px;
                    margin: 12px 8px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    border-radius: 4px;
                    font-family: var(--font-family-default);
                    transition: var(--background-transition-default);
                    &::before {
                        margin-right: 8px;
                        font-family: var(--font-family-default);
                    }
                    &.remove-unused-resources-button,
                    &.remove-duplicate-resources-button {
                        background-color: var(--color-warning-default);
                        &:hover {
                            background-color: var(--color-warning-light);
                        }
                        &::before {
                            content: "🧹";
                        }
                    }
                    &.order-resources-alphabetically-button {
                        background-color: var(--color-info-default);
                        &:hover {
                            background-color: var(--color-info-light);
                        }
                        &::before {
                            content: "🔤";
                        }
                    }
                    &.add-default-values-for-missing-resources-button {
                        background-color: var(--color-success-default);
                        &:hover {
                            background-color: var(--color-success-light);
                        }
                        &::before {
                            content: "➕";
                        }
                    }
                }
            }
        }
        &.admin {
            & .default-text-resources-list {
                margin: 16px auto;
                padding: 16px;
                max-width: 1000px;
                box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
                background-color: #fcfcfc;

                & h4 {
                    margin: 0 0 5px 0;
                    font-size: 16px;
                    font-weight: 300;
                    color: #333;
                }

                & p {
                    font-size: 14px;
                    font-weight: 400;
                    color: #555;
                    margin: 0 0 16px 0;
                }

                & .expand-collapse-icon {
                    display: inline-block;
                    width: 16px;
                    text-align: center;
                    margin-right: 8px;
                    transition: transform 150ms;
                    transform: rotate(0deg);
                    color: #999;
                }
                & details:open > summary > .expand-collapse-icon {
                    transform: rotate(90deg);
                }

                & .default-text-resource-list-item {
                    margin: 0;
                    &:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                    }

                    & summary {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px;
                        margin: 0;
                        transition: var(--background-transition-default);
                        &:hover {
                            background-color: #f0f0f0;
                        }
                        & .resource-id-and-value {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            & .resource-id {
                                font-size: 14px;
                                font-weight: 600;
                                color: #333;
                                line-break: anywhere;
                            }
                            & .resource-value {
                                font-size: 14px;
                                font-weight: 400;
                                color: #555;
                            }
                        }
                        & .usage-container {
                            display: flex;
                            gap: 12px;
                            min-width: 275px;
                            justify-content: flex-end;
                            & span {
                                font-size: 14px;
                                font-weight: 300;
                                color: #666;
                            }
                        }
                    }
                    & .usage-details {
                        padding: 10px 20px 20px 33px;
                        & .app-usage-details-list {
                            & details {
                                &:not(:last-child) {
                                    border-bottom: 1px solid #ccc;
                                }
                                & summary {
                                    padding: 8px 12px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #222;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #f0f0f0;
                                    }
                                    & .app-usage-summary-title {
                                        font-weight: 600;
                                        color: #333;
                                        width: 100%;
                                    }
                                    & .app-usage-summary-count {
                                        font-size: 14px;
                                        margin-left: 8px;
                                        font-weight: 300;
                                        color: #666;
                                        width: 122px;
                                    }
                                }
                                & .component-usage-list {
                                    margin: 0 16px 16px;
                                    & details {
                                        &:not(:last-child) {
                                            border-bottom: 1px solid #ccc;
                                        }
                                        &:open {
                                            border-bottom: none;
                                            margin-bottom: 8px;
                                        }
                                        & summary {
                                            padding: 6px 10px;
                                            font-size: 13px;
                                            font-weight: 500;
                                            color: #333;
                                            cursor: pointer;
                                            &:hover {
                                                background-color: #f0f0f0;
                                            }
                                        }
                                        & pre {
                                            margin: 0;
                                            padding: 8px 12px;
                                            background-color: #272822;
                                            color: #f8f8f2;
                                            overflow-x: auto;
                                            font-size: 13px;
                                            border-bottom-left-radius: 4px;
                                            border-bottom-right-radius: 4px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .duplicate-resources-container {
                        margin-top: 16px;
                        & .duplicate-resources-list {
                            padding: 0px 32px;
                            margin: 0;
                            & li {
                                font-size: 13px;
                                font-weight: 400;
                                color: #333;
                                line-break: anywhere;
                                padding: 1px 0;
                            }
                        }
                    }
                }
            }
            & .text-resources-filter-container {
                margin: 16px auto;
                max-width: 1000px;
                padding: 0 16px;
                & label {
                    font-size: 14px;
                    font-weight: 600;
                    color: #333;
                    margin-right: 12px;
                    cursor: pointer;
                }
                & input[type="radio"] {
                    margin-right: 6px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media print {
    aside.sidebar,
    section.data-input {
        display: none;
    }
    html {
        font-size: inherit !important;
    }
}
